@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600&family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ededed;
  font-family: 'Poppins', sans-serif;
  padding-top: 70px;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #112e42;
}

.home-container {
  width: 100%;
  background-color: #112e42;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #ededed;
}

.nav-bar {
  background-color: #113952;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav-bar .my-name {
  font-size: 1.3rem;
  font-weight: 700;
  color: #ededed;
  cursor: pointer;
  transition: ease-in-out 1s;
}

.nav-bar .my-name.active {
  color: #00abf0;
}

.nav-bar .my-name:hover {
  color: #00abf0;
  font-size: 1.4rem;
}

.click-event {
  display: none;
}

.click-event.show {
  display: block;
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #22404dd4;
  backdrop-filter: blur(6px);
}

.close-btn {
  position: absolute;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  left: 90%;
  right: 0;
  top: 4%;
  cursor: pointer;
  transition: ease-in-out 1s;
}

.close-btn:hover {
  color: rgb(187, 17, 17);
  font-size: 1.5rem;
}

.hum-icon {
  height: 2rem;
  cursor: pointer;
}

.nav-links {
  padding: 4rem 2rem;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: center;
}

.wrapp-align {
  padding: 3rem 1rem 0 1rem;
  height: 100%;
}

.home-container .wrapp-align .name {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.home-container .wrapp-align .name span {
  font-size: 2rem;
  display: block;
}

.profession {
  font-size: 1.3rem;
  color: #00abf0;
  margin-bottom: 1rem;
}

.wrapp-align .abt {
  line-height: 1.7;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.supporting-text {
  margin: 1rem 0;
}

.social-media-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.social-media-links li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.social-media-links li a svg {
  height: 1.2rem;
  width: 1.2rem;
  transition: ease 1s;
}

.social-media-links li a svg:hover {
  color: #00abf0;
  height: 1.5rem;
  width: 1.5rem;
}

.welcome-cont {
  display: none;
}

/* Portfolio */

.portfolio-cont {
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: white;
}

.portfolio-title {
  color: #172b4d;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.portfolio.mobile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.portfolio.desktop {
  display: none;
}

.project-picture-container {
  width: 85%;
  margin: auto;
  height: 310px;
  position: relative;
}

.project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0c1012d4;
  opacity: 0;
  transition: ease 1s;
  border-radius: 40px 5px 40px 5px;
}

.project-picture-container:hover .project-overlay {
  opacity: 1;
  transform: scale(1.05);
}

.project-picture-container img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
  border-radius: 40px 5px 40px 5px;
  transition: ease 1s;
}

.project-picture-container:hover img {
  transform: scale(1.05);
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 40px 5px 40px 5px;
  font-weight: 700;
}

.project-title {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.project-description {
  margin-left: 1rem;
  font-size: 1rem;
}

.project-stacks {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-tech {
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 2px 0.5rem;
  border-radius: 2px;
  background-color: rgb(16, 16, 16);
}

.proj-link-cont {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.project-link {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
  background-color: #035575;
  border-radius: 0 5px 40px 5px;
  text-align: center;
  cursor: pointer;
  transition: ease 1s;
}

.project-link:hover {
  color: #027cac;
  background-color: #ebebeb;
}

/* about */
.about-me {
  padding: 1rem;
  background-color: white;
}

.self-intro {
  padding: 0;
  gap: 12px;
}

.set-margin {
  margin: 0 0 12px 0;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  color: #172b4d;
}

.about-desc {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #344563;
}

.social-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.social-media-links.about li a {
  margin-bottom: 0;
  color: #172b4d;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162px;
  height: 48px;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  transition: ease-in-out 0.8s;
}

.resume:hover {
  width: 180px;
  height: 60px;
  background-color: #efefef;
  border: 0;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
}

.resume-link {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #396df2;
  text-decoration: none;
}

.additional-info {
  list-style-type: none;
}

.div-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.with-border {
  border-bottom: 1px solid lightgray;
}

.div-flex h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 12px;
  color: #253858;
}

.div-flex button {
  border: none;
  outline: none;
  padding-top: 20px;
  margin-right: 1rem;
  background-color: transparent;
}

.lang-btn {
  margin-right: 50px;
}

.flex {
  display: flex;
  align-items: center;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 1rem;
}

.flex-img {
  width: 48px;
  height: 48px;
  margin: 9px 16px 9.72px 12px;
}

.flex p {
  flex: 1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.react-icons {
  color: #253858;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 9px 16px 9.72px 12px;
}

.react-icons.lang-btn {
  margin-right: 2.2rem;
}

.hide-list {
  display: none;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.rotate-lang {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
}

/* contact section */

.contact-sec {
  padding: 2rem;
  background-color: white;
  height: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me-heading {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  color: #253858;
  margin-bottom: 12px;
}

.colab-interest {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: #344563;
  text-align: center;
  margin-bottom: 39px;
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}

#name,
#email {
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px 38px 16px 16px;
  outline-color: #172b4d;
}

#name::placeholder,
#email::placeholder {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

#textarea {
  height: 172px;
  background: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  outline-color: #172b4d;
  margin-bottom: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  padding: 15px 38px 15px 16px;
}

#textarea::placeholder {
  color: #b3bac5;
}

#submit-button {
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  background: white;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  border: none;
  margin-bottom: 11px;
  align-self: flex-start;
  transition: ease-in-out 1s;
}

#submit-button:enabled {
  color: #172b4d;
  border: 1px solid #7f8cff;
}

#submit-button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

#submit-button:hover {
  color: white;
  background: #113952;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

#submit-button:active {
  color: white;
  background: #2230d2;
}

.end {
  display: flex;
  justify-content: center;
}

/* details page */

.details-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1rem 0;
  background-color: #ebebeb;
}

.details-close-btn {
  position: absolute;
  top: -15px;
  right: 0;
  margin: 1rem;
  cursor: pointer;
  color: #05386f;
  font-size: 1.5rem;
  font-weight: 700;
  transition: ease-in-out 1s;
}

.details-close-btn:hover {
  color: rgb(187, 17, 17);
  font-size: 1.7rem;
}

.mobile-details {
  height: 100%;
}

.desktop-details {
  display: none;
}

.project-details-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.project-details-cont h1 {
  font-weight: 700;
  font-size: 1.7rem;
  color: rgb(8, 46, 81);
  text-align: center;
}

.project-image-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  height: 230px;
  position: relative;
}

.project-image {
  width: 100%;
  height: 100%;
}

.proj-details {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  color: #344563;
  font-size: 0.7rem;
  font-weight: 600;
}

.proj-stacks {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
  color: white;
}

.proj-stacks li {
  padding: 0.2rem;
  background-color: #2e2d2d;
}

.see-demo-cont {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.see-demo-cont .see-demo {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #113952;
  transition: ease-in-out 1s;
}

.see-demo-cont .see-demo:hover {
  color: #042a4b;
  background-color: #ebe4e4;
  box-shadow: 2px 2px 16px rgba(36, 37, 39, 0.64);
  border-radius: 0;
}

@media screen and (min-width: 768px) {
  .home-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-bar {
    padding: 0 5rem;
  }

  .hum-icon {
    display: none;
  }

  .click-event {
    display: block;
  }

  .close-btn {
    display: none;
  }

  .nav-links {
    flex-direction: row;
    font-size: 1rem;
    gap: 1rem;
  }

  .link-home {
    display: none;
  }

  .nav-links a {
    transition: ease-in-out 1s;
  }

  .nav-link:hover {
    color: #00abf0;
    font-size: 0.9rem;
  }

  .nav-link.active {
    color: #00abf0;
  }

  .wrapp-align {
    margin-top: 13%;
    width: 55%;
    padding: 0 0 0 5rem;
  }

  .wrapp-align .name {
    font-size: 1.5rem;
  }

  .wrapp-align .name span {
    font-size: 2.5rem;
  }

  .profession {
    font-size: 1.5rem;
  }

  .wrapp-align .abt {
    font-size: 1rem;
  }

  .welcome-cont {
    display: flex;
    width: 45%;
    height: 100%;
  }

  .welcome-cont img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 600px;
  }

  .portfolio.mobile {
    display: none;
  }

  .portfolio.desktop {
    gap: 1rem;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    row-gap: 2rem;
  }

  .portfolio-title {
    font-size: 2.2rem;
    margin: 3rem 0;
  }

  .project-picture-container {
    width: 100%;
    margin: 0;
  }

  /* about */

  .self-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    text-align: center;
  }

  .additional-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }

  .div-flex button {
    display: none;
  }

  .hide-list {
    display: block;
  }

  .title {
    font-size: 2.2rem;
    margin-top: 1rem;
  }

  .about-desc {
    font-size: 20px;
    width: 80%;
    line-height: 2.2rem;
  }

  .contact-me-heading {
    font-size: 2.2rem;
    margin-bottom: 25px;
  }

  .div-form {
    display: flex;
    gap: 1rem;
    width: 80%;
    margin: auto;
  }

  .div-form div {
    flex: 1;
  }

  .div-form form {
    flex: 2;
  }

  .colab-interest {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 400;
    text-align: start;
  }

  /* details page */

  .mobile-details {
    display: none;
  }

  .desktop-details {
    height: 100%;
    display: flex;
  }

  .project-details-cont {
    width: 90%;
    margin: auto;
    height: 90%;
  }

  .project-details-page {
    display: flex;
    gap: 2rem;
    height: 100%;
  }

  .project-image-container {
    width: 100%;
    height: 85%;
  }

  .proj-details {
    margin: 0;
  }

  .project-details-cont h1 {
    font-size: 2.3rem;
  }

  .proj-description {
    font-size: 1rem;
  }

  .proj-stacks {
    margin-bottom: 2rem;
  }

  .proj-stacks li {
    font-size: 0.8rem;
    padding: 0.4rem;
    border-radius: 4px;
  }

  .details-close-btn {
    top: 0;
    right: 26px;
    font-size: 1.7rem;
  }

  .details-close-btn:hover {
    font-size: 2rem;
  }
}
